* {
    margin: 2px;
    padding: 1px;
}

nav a {
    text-decoration: none;
    color: #000;
}

.hero {
    position: relative;
}

.hero image {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    background-color:rgba(14, 12, 12, 0.5);
    top: 15px;
    left: 180px;
    color: rgb(200, 193, 193);
}

article {
    position: absolute;
    background-color: rgba(4, 56, 245, 0.411);
    top: 80px;
    left: 40px;
    color: rgb(200, 193, 193);
}

article img {
    float: right;
}

h2 {
    color: rgb(215, 119, 119)
}

section img {
    position: relative;
    margin-top: 10px;
    display: flex;
}

