:root {
    --main-color: darkblue;
    --main-padding: 10px;
    --main-height: auto;
    --main-text-align: center;
}

nav {
    background-color: var(--main-color);
    padding: var(--main-padding);
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--main-color);
}

main img {
    width: 150px;
    height: var(--main-height);
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    width: 400px;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, .1);
    padding: var(--main-padding);
    background-color: #eee;
    color: #000;
    text-align: var(--main-text-align);
}

aside img {
    width: 200px;
    height: var(--main-height);
}

footer {
    margin-top: 15px;
    border-top: dotted;
    text-align: var(--main-text-align);
}